@model WebApplication1.Models.ActivityForCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityForCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activity.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
