@model IEnumerable<WebApplication1.Models.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
