@model WebApplication1.Models.CustomerInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Full_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_activities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_activities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
